
<div class="content-container col-12">


        <form class="row" [formGroup]="fbChangePassword">
            <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label">Current Password<span class="text-danger">*</span></label>
                  <input class="form-control" type="password" placeholder="Enter Current Password"  formControlName="currentPassword" maxlength="20"
                  [ngClass]="{ 'is-invalid': submitted  && formControls['currentPassword'].errors}">
                  <div  class="error-icon-hover" tooltipClass="invalid-tooltip-msg"  placement="start" ngbTooltip="Current Password is required"
                    *ngIf="submitted  && formControls['currentPassword'].errors && formControls['currentPassword'].errors['required']">
                  </div>
                  <div  class="error-icon-hover" tooltipClass="invalid-tooltip-msg"  placement="start" ngbTooltip="Password is not valid"
                  *ngIf="submitted  && formControls['currentPassword'].errors && formControls['currentPassword'].errors['pattern']">
                </div>
                </div>
              </div>
            <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label">New Password <span class="text-danger">*</span></label>
                  <!-- <input class="form-control" type="password" placeholder="Enter New Password" formControlName="newPassword"
                  [ngClass]="{ 'is-invalid': submitted  && formControls['newPassword'].errors}"> -->
                 
                  <p-password [maxLength]="20" formControlName="newPassword"  placeholder="Enter New Password" [toggleMask]="true" [ngClass]="{ 'ng-invalid ng-dirty': submitted  && formControls['newPassword'].errors}"></p-password>
    
    
                  <div  class="error-icon-hover" tooltipClass="invalid-tooltip-msg"  placement="start" ngbTooltip="New Password is required"
                    *ngIf="submitted  && formControls['newPassword'].errors && formControls['newPassword'].errors['required']">
                  </div>
                  <div  class="error-icon-hover" tooltipClass="invalid-tooltip-msg"  placement="start" ngbTooltip="Password must contain at least: one uppercase letter,one lowercase letter, one digit, and any special character.Space not allowed"
                    *ngIf="submitted  && formControls['newPassword'].errors && formControls['newPassword'].errors['pattern']">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label">Confirm Password<span class="text-danger">*</span></label>
                  <input class="form-control" type="password" placeholder="Enter Confirm Password"  formControlName="confirmPassword" maxlength="20"
                  [ngClass]="{ 'is-invalid': submitted  && formControls['confirmPassword'].errors}">
                  <div  class="error-icon-hover" tooltipClass="invalid-tooltip-msg"  placement="start" ngbTooltip="Confirm Password is required"
                    *ngIf="submitted  && formControls['confirmPassword'].errors && formControls['confirmPassword'].errors['required']">
                  </div>
                  <div  class="error-icon-hover" tooltipClass="invalid-tooltip-msg"  placement="start" ngbTooltip="Password and Confirm Password do not match"
                  *ngIf="submitted  && formControls['confirmPassword'].errors && formControls['confirmPassword'].errors['notEqual']">
                </div>
                </div>
              </div>
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-secondary p-2" (click)="onSubmit()">Submit</button>
              </div>
        </form>

</div>