  <!-- <section class="py-6 m-auto">
    <div class="container bg-light min-vh-50 py-6 d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="lc-block mb-4">
            <div editable="rich">
              <h1 class="fw-bold display-1">404</h1>
            </div>
          </div>
          <div class="lc-block">
            <div editable="rich">
              <p class="h2">Sorry, we can’t find the page you’re looking for. </p>
              <p class="lead">Click the button below to go back to the homepage</p>
            </div>
          </div>
          <div class="lc-block">
            <a class="btn btn-primary" routerLink="/" role="button">Click here..!</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->

<!-- <h1 class="fw-bold display-1">404 Error</h1> -->
<section class="error-container">
  <span>4</span>
  <span><span class="screen-reader-text">0</span></span>
  <span>4</span>
</section>
<div class="lc-block text-center">
  <p class="zoom-area"><b>Sorry,</b> we can’t find the page you’re looking for. </p>
  <p class="lead">Click the button below to go back to the homepage</p>
  <a class="btn btn-primary" routerLink="/" role="button">Click here..!</a>
</div>
