.password-eye {
    position: absolute;
    float: right;
    z-index: 1;
    right: 2%;
    left: auto;
    top: 12px;
    width: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 40px;
  }

  .form-control.is-invalid~ .pos-rit{
    right: 8%;
    left: auto;
  }

  .form-control.is-valid~ .pos-rit{
    right: 8%;
    left: auto;
  }

// New Validation Tooltip
.error-icon-hover {
  position: absolute;
  background-color: transparent;
  width: 20px;
  height: 20px;
  bottom: 18px;
  right: 8px;
}
.form-control~ .error-icon-hover {
  position: absolute;
  background-color: transparent;
  width: 20px;
  height: 20px;
  bottom: 18px;
  right: 8px;
}

