// .table > :not(caption) > * > *{background: none !important;padding: 0.7rem 0.7rem;border-bottom-width:0px !important;color: #616161;}
// .bg-lite-orange{
//   background: #fef2eb !important;
//   border-top: 2px solid #ffe7d8 !important;
//   border-bottom: 2px solid #ffe7d8 !important;
//   border-left-width: 0px !important;
//   border-right-width: 0px !important;
//   border-width: 2px;
//   &>th, td{
//     padding: 0.6rem 0.6rem !important;
//   }
// }
// .border-width-2{
//   border-bottom-width:2px !important;
// }
// .form-check-label{font-weight: 500;color: #646464;}
