.pc-head-link.head-link-secondary {
  background: #fdece0;
  color: #f3a062;
}
.pc-head-link {
  color: #525b69;
  margin: 0 16px;
  position: relative;
  font-weight: 500;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 8px;
}
