<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <a href="javascript:" class="d-flex justify-content-center mt-3">
            <img src="assets/images/logo-round.png"  width="150" class="pe-0" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Forgot Password</b></h2>
                <p class="fs-4 mt-2">Enter your Email address or User Name</p>
              </div>
            </div>
          </div>
          <!-- <div class="saprator mt-3 text-white">
            <span>or</span>
          </div> -->
          <!-- <h5 class="my-4 d-flex justify-content-center"> Enter your Email address or User Name </h5> -->
          <!-- <div class="row"> -->
            <form action="#" role="form" [formGroup]="postForm" class="php-email-form">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" maxlength="50" formControlName="userNameorEmail"
            [ngClass]="{ 'is-invalid': submitted  && formControls['userNameorEmail'].errors}">
            <label for="floatingInput">Email Address / Username</label>
            <div *ngIf="submitted && postForm.get('userNameorEmail').errors && postForm.get('userNameorEmail').errors?.['required']"
                class="error-icon-hover" tooltipClass="invalid-tooltip-msg" placement="start" ngbTooltip="Email / Username is required">
              </div>
          </div>
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-secondary p-2" (click)="onSubmit()">Submit</button>
          </div>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/auth/login']"> You want to go back to SignIn? </a>
          </h5>
            </form>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

